{% extends "base_blog.html" %}

{% block content %}
<h1>{{ year }} Blog Postings</h1>

{% for object in object_list %}
<h2><a href="{{ object.get_absolute_url }}">{{ object.title|safe }}</a></h2>
<p>Posted by <strong>{{ object.author.first_name }}</strong> on {{ object.pub_date|date:"F j, Y" }}</p>
{% endfor %}

<div id="related-links">
  <div class="related-links-heading">Posts by Month</div>
  <ul>
    {% for date in date_list %}
    <li><a href="{% url blog_month date|date:"Y" date|date:"m" %}">{{ date|date:"F" }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
