{% extends "base.html" %}

{% block title %} - About{% endblock %}
{% block nav-about %} class="active"{% endblock %}

{% block content %}
      <h1>About</h1>

      <h2>PGP Public Key</h2>

      <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v2.0.22 (GNU/Linux)

mQENBE/P4ikBCAC6srLXoLXCeGyCcAD3hE5py52QzxGeFPQUjozIts9ggFG4q4Yt
txx3pJADucyfe0qIrKWMRLoLatewRwvQLynKh6caJBs/gtu2aC0+svtnA6BFH7d2
80UZxEQkLAt9BpK5/3Vx5to0vMZ9xGuk417bnyjxskNo1QSg0EYpafUv9amc73bb
STZ+2e+idjDN3BhvuDqag9YKmPYsXagbV5SUe0fPhGz7rYguODt8z+Xrus/YEwsG
Ou76SNMobwQSmo1yE60MzuS5KrYJ3NHpM+gfyq1kr6AJ1k+Kx0fsj75tQEyXez5F
fHhsgPsa/XjGjK76znxIIa+I97qXcT4DK/gpABEBAAG0H0pvbiBFeW9sZnNvbiA8
am9uQGV5b2xmc29uLmNvbT6JATgEEwECACIFAk/P4ikCGwMGCwkIBwMCBhUIAgkK
CwQWAgMBAh4BAheAAAoJEL7iV2ci2XI/er8H/jk8v+g9SEeG1syEde5SJjNllkPV
9QKZ4wu0zT2pVf0cKSzNvaq8iiWpbxJOVXeI2EPAa8qdO6IVTxdLw++v94IGe+zp
ymqWci92MTE0cZBQJM8nL+oejixA39xGK3iyKtyY9yNKvOKl8NoYuxSJqGdl2Nht
6mbMe4B4e0HVEABaZv099q/FLzFwUvus5gA1v+LU0wXaNmqC66QOeSmfnZG7cmko
YHjkVMS/eX9QPKg2E5SLdIPS0iHbB3VG/wNM5nE+Ev1jbozBLqTGxvn6OMNf++zJ
eepxP5ZUKKFLRXFuWyUBo42EPDhCmHvEKHaAeIdZmgkkNKJRpzv2KKjJyBi5AQ0E
T8/iKQEIAM/DYEZlRyM/tyXIBoWG1FK6unsiO8YGtRKULd/BUv22YoiQ8LGcf8An
3BKYs1K4g3nzWrvejdeY0FXLlQiOxPJh+9PTr4Wbv2FfrvMgI9GrKDAl5kThuqWD
QP6iNXTvuqV7a9xPIXrby7fA/gAfV1i6khfN+hsYn1h02mSqGxx2m/XH+AYQecyo
y8hRt0pDyEZOmoa251VAnqouw6mVJtmyIwMkUQ7uOvAWOcQLZyfk4cKZfxyH+vt1
p03unAAyecW6hdJ4+Q/XLAnfMl59WAojr27EreY5IYJEUPGCFTrVEh7LZRL7GuQ3
UCy0uIrMVMgo+nWonGaJaGaeehf24UsAEQEAAYkBHwQYAQIACQUCT8/iKQIbDAAK
CRC+4ldnItlyP1asCACY0fK2POUsUlULYbxoYNz3H+rqHslPpvfN0/b5W+wDsz/h
89+N65QziMw9LHRxyxtiWK/36LnaICzWFcYPArsFVmkOnC4PG+MDzFRTY/O5rgwX
51b67oFanq79IzkLIoUKfIeQx+DrFF62HxYhe2t6N44hAnFjBHfDE4WZPTISbhmW
tE4vi0nSoK6HH8i3TSJa340r0Q/No2COraEtMr+CX1Dxe0nG90QdD28fH3L4lpZ5
TjJ6KYfx7v9TkbxWsC0s1Lav8NZMKvp519H267sH2tUrxFcFsN0ETdOkBzoo8d7i
cET7H/y0plPrUZURKBzw7Gv08mGNDrra/N6a1JaO
=qAvO
-----END PGP PUBLIC KEY BLOCK-----</pre>

      <p><a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0xBEE2576722D9723F">MIT PGP Public Key Server</a></p>
{% endblock %}
