{% load staticfiles %}{% load url from future %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Eyolfson{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Jon Eyolfson's personal web page." />
    <link href="{% static "images/favicon.png" %}" rel="icon" type="image/png" />
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">eyolfson.ca</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li{% block nav-software %}{% endblock %}><a href="{% url 'software' %}">Software</a></li>
          <li{% block nav-teaching %}{% endblock %}><a href="{% url 'teaching:home' %}">Teaching</a></li>
          <li{% block nav-cv %}{% endblock %}><a href="{% url 'cv' %}">CV</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
{% block content %}{% endblock %}
    </div>

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>
