{% extends "base.html" %}

{% block content %}
      <h1>Welcome!</h1>

      <p>This is my personal web page and is a work in progress. Currently it
      contains my CV and that's it. Soon it should contain something more
      interesting.</p>

      <p>I'm currently hosting an ArchLinux repository for some of my AUR
      packages. If you would like to use it add the following to
      <code>/etc/pacman.conf</code>:</p>

      <pre>[eyolfson]
Server = http://aur.eyolfson.com/$arch</pre>

      <h2>Blog</h2>
      
  {% for post in blog_posts %}
      <h3>{{ post.title }}</h3>

      <p><strong>Posted: {{ post.date_time }}</strong></p>
      
      {{ post.text|safe }}
  {% endfor %}
{% endblock %}
