{% extends "base.html" %}

{% block content %}
      <h2>Education</h2>
      <div class="span-1"><img src="{{ MEDIA_URL }}img/institution/uwaterloo-30x36.png" width="30" height="36" alt="University of Waterloo" /></div>
      <div class="span-23 last">
        <dl>
          <dt>Master of Applied Science in Computer Engineering</dt>
          <dd>University of Waterloo, September 2009 - Present</dd>
        </dl>
      </div>

      <div class="span-1"><img src="{{ MEDIA_URL }}img/institution/queensu-30x36.png" width="30" height="36" alt="Queen's University" /></div>
      <div class="span-23 last">
        <dl>
          <dt>Bachelor of Science (First Class Honours) in Computer Engineering</dt>
          <dd>Queen's University, September 2005 - April 2009</dd>
        </dl>
      </div>

      <h2>Publications</h2>
      <dl>
        <dt>Do Time of Day and Developer Experience Affect Commit Bugginess?</dt>
        <dd>
	  <em>Jon Eyolfson</em>, Lin Tan and Patrick Lam. In Proceedings of the 8th Working Conference on Mining Software Repositories (MSR 2011), pages 153–162, Honolulu, HI, May 2011. Acceptance rate of 32.8% (20/61).
	  <ul>
	    <li><img src="{{ MEDIA_URL }}img/file/pdf-16x16.png" width="16" height="16" alt="PDF" /> <a href="{{ MEDIA_URL }}research/msr2011-p153-eyolfson.pdf">Paper</a></li>
	    <li><img src="{{ MEDIA_URL }}img/file/txt-16x16.png" width="16" height="16" alt="BibTeX" /> <a href="{{ MEDIA_URL }}research/msr2011-p153-eyolfson.bib">BibTeX</a></li>
	    <li><img src="{{ MEDIA_URL }}img/file/pdf-16x16.png" width="16" height="16" alt="PDF" /> <a href="{{ MEDIA_URL }}research/msr2011-p153-eyolfson-slides.pdf">Slides</a></li>
	  </ul>
	</dd>
      </dl>

      <h2>Teaching</h2>
      <dl>
        <dt>Teaching Assistant for ECE 459 Programming for Performance</dt>
        <dd>University of Waterloo, Winter 2011</dd>

        <dt>Teaching Assistant for ECE 251 Programming Languages and Translators</dt>
        <dd>University of Waterloo, Fall 2010</dd>

        <dt>Teaching Assistant for ECE 355 Software Engineering</dt>
        <dd>University of Waterloo, Winter 2010</dd>
      </dl>

      <h2>Awards</h2>
      <dl>
        <dt>Ontario Graduate Scholarship</dt>
        <dd>May 2010 - April 2011</dd>

        <dt>University of Waterloo Presidents Graduate Scholarship</dt>
        <dd>May 2010 - April 2011</dd>
      </dl>
{% endblock %}
