{% extends "base.html" %}

{% block title %} - Teaching{% endblock %}
{% block nav-teaching %} class="active"{% endblock %}

{% block content %}
<h1>Teaching</h1>

{% for offering in offerings %}
<h2>{{ offering }}</h2>

{% if offering.outline_file or offering.midterm_file or offering.final_file %}
<h3>Materials</h3>

<ul class="list-unstyled">
  {% if offering.outline_file %}
  <li><a href="{{ offering.outline_file.url }}">Outline</a></li>
  {% endif %}
  {% if offering.midterm_file %}
  <li><a href="{{ offering.midterm_file.url }}">Midterm</a></li>
  {% endif %}
  {% if offering.final_file %}
  <li><a href="{{ offering.final_file.url }}">Final</a></li>
  {% endif %}
</ul>
{% endif %}

{% if offering.lectures.exists %}
<h3>Lectures</h3>

<ul class="list-unstyled">
  {% for lecture in offering.lectures.all %}
  <li><a href="{{ lecture.file.url }}">{{ lecture }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if offering.assignments.exists %}
<h3>Assignments</h3>

<ul class="list-unstyled">
  {% for assignment in offering.assignments.all %}
  <li><a href="{{ assignment.file.url }}">{{ assignment }}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endfor %}
{% endblock %}
