{% extends "annavladwedding/base.html" %}{% load url from future %}

{% block content %}
      <div class="jumbotron">
        <h1>Welcome!</h1>
      </div>

      <strong>RSVP</strong>

      <form action="{% url 'annavladwedding.views.home' %}" method="post" class="form-horizontal">
        {% csrf_token %}

        <div class="control-group{% if form.confirmation_code.errors %} error{% endif %}">
          <label for="id_confirmation_code" class="control-label">Confirmation code:</label>
          <div class="controls">
            {{ form.confirmation_code }}
            {% for error in form.confirmation_code.errors %}<span class="help-inline">{{ error|escape }}</span>{% endfor %}
          </div>
        </div>

        <div class="control-group">
          <button type="submit" class="btn">Submit</button>
        </div>
      </form>
{% endblock %}
